extends layout

block content
	.container
		h1 Applicants
		ul#applications.list-unstyled
			for applicant in applicants
				li
					h4= applicant.name
					p Bio: #{applicant.bio}
					p Experience: #{applicant.years} years
					p Skills: #{applicant.skills}
					p Wants to work here because: #{applicant.why}

		a(href="/") Return to application page